body {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.congrats {
    font-family: sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 1px 3px 3px black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.alet {
  margin-bottom: 50px;
  font-family: sans-serif;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 1px 3px 3px black;
}

img {
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    animation: blink 1s linear infinite;
    width: 720px;
    height: 550px;
}



.hannelize {
    margin-top: 50px;
    text-shadow: 1px 3px 3px black;
    font-size: 100px;
    font-weight: bold;
    font-family: sans-serif;
}


/* ANIMATIONS */

.m {
    animation-name: bounce5;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: 1100ms;
    animation-direction: linear;
}

.e {
    animation-name: bounce4;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: 1020ms;
    animation-direction: linear;
}

.a {
    animation-name: bounce2;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: 1080ms;
    animation-direction: linear;
}

.c {
    animation-name: bounce3;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: 900ms;
    animation-direction: linear;
}

.r {
    animation-name: bounce1;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: 1075ms;
    animation-direction: linear;
}

.y {
    animation-name: bounce3;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: 1030ms;
    animation-direction: linear;
}

.h {
    animation-name: bounce3;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: 1090ms;
    animation-direction: linear;
}

.i {
    animation-name: bounce5;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: 1000ms;
    animation-direction: linear;
}

.t {
    animation-name: bounce1;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: 1050ms;
    animation-direction: linear;
}

.s {
    animation-name: bounce2;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: 1050ms;
    animation-direction: linear;
}

/* Keyframes */

@keyframes bounce1 {
    from {
        color: blueviolet;
        position: relative;
        top: 1px;
    }
    to {
        color: lightblue;
        position: relative;
        bottom: 5px;
        transition: ease 1s;
    }
}

@keyframes bounce2 {
    from {
        color: rgb(13, 126, 255);
        position: relative;
        top: 4px;
    }
    to {
        color: rgb(199, 0, 156);
        position: relative;
        bottom: 10px;
        transition: ease 1.2s;
    }
}

@keyframes bounce3 {
    from {
        color: rgb(173, 171, 0);
        position: relative;
        top: 9px;
    }
    to {
        color: rgb(206, 0, 0);
        position: relative;
        bottom: 2px;
        transition: ease 1.5s;
    }
}

@keyframes bounce4 {
    from {
        color: rgb(103, 255, 82);
        position: relative;
        top: 13px;
    }
    to {
        color: rgb(255, 211, 91);
        position: relative;
        bottom: 8px;
        transition: ease 1.4s;
    }
}

@keyframes bounce5 {
    from {
        color: rgb(255, 251, 44);
        position: relative;
        top: 3px;
    }
    to {
        color: rgb(20, 188, 255);
        position: relative;
        bottom: 15px;
        transition: ease 1.9s;
    }
}

@keyframes shake {
    from {
        rotate-x: 10deg;
    }
    to {
        rotate-x: 15deg;
    }
}

@keyframes blink {
	0% {
		box-shadow: 0 3px 20px #fbff00;
	}
	20% {
		box-shadow: 0 3px 20px #80ff00;
	}
	40% {
		box-shadow: 0 3px 20px #00f7ff;
	}
	60% {
		box-shadow: 0 3px 20px rgb(59, 128, 255);
	}
	80% {
		box-shadow: 0 3px 20px rgb(144, 74, 255);
	}
	100% {
		box-shadow: 0 3px 20px rgb(240, 78, 255);
	}
}


/* Phone size adjustment if using a phone */

@media (max-width: 750px) {
  .congrats {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 3px 3px black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.alet {
  margin-bottom: 30px;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 3px 3px black;
}

img {
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    animation: blink 1s linear infinite;
    width: 320px;
    height: 240px;
}

.hannelize {
    margin-top: 30px;
    text-shadow: 1px 3px 3px black;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}

}
